#switch-menu{
  -fx-alignment: center-left;
}

#switch-menu__item{
  -fx-background-color: #F4F4F4;
  -fx-color-label-visible: black;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
}

#switch-menu__item:hover, #switch-menu__item--selected:hover{
  -fx-background-color: #7A7A7A;
  -fx-color-label-visible: white;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
}

#switch-menu__item--selected{
  -fx-background-color: #C5C5C5;
  -fx-color-label-visible: white;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
}

#switch-menu__item:disabled{
  -fx-background-color: #EBEBE4;
  -fx-color-label-visible: grey;
  -fx-background-radius: 0;
  -fx-border-radius: 0;
}

#folder-dropdown__item{
  -fx-background-color: #F4F4F4;
  -fx-alignment: center-left;
}

#folder-dropdown__graphic{
  -fx-fill: black;
}

#folder-dropdown__graphic:hover{
  -fx-fill: white;
}

#folder-dropdown__item:hover, #folder-dropdown__item--selected:hover {
  -fx-background-color: grey;
  -fx-text-fill: #F4F4F4;
}

#folder-dropdown__item--on-drag-entered, #folder-dropdown__item--selected{
  -fx-background-color: grey;
  -fx-alignment: center-left;
}

#side-menu {
  -fx-background-color: grey;
}

#side-menu__content {
  -fx-background-color: grey;
}

#side-menu__simple-dropdown--title{
  -fx-background-color: grey;
  -fx-alignment: center-left;
  -fx-text-fill: #F4F4F4;
}

#side-menu__simple-dropdown--item{
  -fx-background-color: grey;
  -fx-alignment: center-left;
  -fx-text-fill: #F4F4F4;
}

#side-menu__simple-dropdown--graphic{
  -fx-fill: white;
}

#side-menu__simple-dropdown--graphic:hover{
  -fx-fill: black;
}


#side-menu__simple-dropdown--title:hover, #side-menu__simple-dropdown--item:hover, #side-menu__simple-dropdown--item--on-drag-entered{
  -fx-background-color: #F4F4F4;
  -fx-text-fill: black;
  -fx-alignment: center-left;
}

#test {
  -fx-border-style: solid;
  -fx-border-color: black;
  -fx-border-width: 1px;
}